* {
    margin: 0;
    padding: 0;
}

ul {
  margin-left: 2em;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: sans-serif; */
  margin: 0 20px;
}

.mission {
    font-style: italic;
    margin: 1em 0;
}

h1 {
  font-size: 4em;
  margin-bottom: -10px;
  font-family: 'Lora';
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 0;
  font-family: 'Arial Black';
}

.major-section {
  margin-top: 3em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.experience-item {
  margin: 3em 0;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 5px double #ccc;
  margin-bottom: 24px;
}

h4 {
  font-weight: 550;
  font-family: 'Helvetica';
}

.experience-header h4, h5 {
  margin: 0;
}

.experience-header h5 {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
}

.experience-header .experience-dates {
  font-style: italic;
  color: #777;
}

dt {
  font-weight: 550;
  font-family: 'Helvetica';
}

dd {
  margin-left: 0;
  margin-bottom: 1.5em;
}

.page-2-header {
  display: none;
  text-align: right;
  font-family: 'Lora';
}

@media print {

  @page { margin: 30px 20px; }

  .page-2-header {
    display: block;
    page-break-before: always;
  }

  body {
    font-size: 13px;
  }

  h1, h2 {
    text-align: center;
  }

  h3 {
    font-family: 'Helvetica';
  }

  .mission {
      margin: 0 3em;
  }
}
